div {
  margin: 30px;
  height: 100px;
  background: rgb(29, 28, 28);
  color: white;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
body {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
